.navbar {
    height: 8vh;
  }
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Используйте flexbox */
    justify-content: center;
    align-items: center;
    
}
.navbar li {
    margin-right: 40px;
}

/* Стили для ссылок в меню */
.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}